### Import libraries

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
% matplotlib inline

### Load processed dataset

In [4]:
path = '../data/bank-additional-full-processed.csv'
df = pd.read_csv(path,delimiter=',')
df.head()

,Unnamed: 0,age,month,day_of_week,campaign,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed,...,default_yes,housing_no,housing_yes,loan_no,loan_yes,contact_cellular,contact_telephone,poutcome_failure,poutcome_nonexistent,poutcome_success
0,0,56,5,1,1,1.1,93.994,-36.4,4.857,5191.0,...,0,1,0,1,0,0,1,0,1,0
1,1,57,5,1,1,1.1,93.994,-36.4,4.857,5191.0,...,0,1,0,1,0,0,1,0,1,0
2,2,37,5,1,1,1.1,93.994,-36.4,4.857,5191.0,...,0,0,1,1,0,0,1,0,1,0
3,3,40,5,1,1,1.1,93.994,-36.4,4.857,5191.0,...,0,1,0,1,0,0,1,0,1,0
4,4,56,5,1,1,1.1,93.994,-36.4,4.857,5191.0,...,0,1,0,0,1,0,1,0,1,0